/* CSS for the chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Full height */
}

/* CSS for the chat history */
.chat-history {
  flex: 1;
  overflow-y: auto; /* Enable scrolling for chat history */
  padding: 20px;
}

/* CSS for the chat messages */
.message {
  margin-bottom: 10px;
}
.user-message {
  align-self: flex-start;
  color: black; /* Change color to your preferred color */
  background-color: rgb(163, 250, 136);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  /* margin-bottom: 20px; */
}

/* CSS for bot messages */
.bot-message {
  align-self: flex-end;
  background-color: rgb(249, 255, 247);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  /* display: inline-block; */
  margin-bottom: 20px;
  /* margin-left: 10vw; */
}

/* CSS for the user input */
.user-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  width: 90vw;
}

.user-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.user-input button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.user-input button:hover {
  background-color: #45a049;
}
